.navbar.navbar-light {
  background-color: blanchedalmond;
}

.navbar-brand {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin: 0 auto;
  font-size: 1.5rem;
}
.h4.fw-bold.ms-5 {
  color: brown;
}
