<nav class="navbar navbar-light navbar-expand-sm">
  <div class="container">
    <a class="navbar-brand" routerLink="/client-area">
      <i class="bi bi-basket"></i>
      {{ "cart.cartNavbarTitle" | translate }}
    </a>
  </div>
</nav>
<div class="container mt-3">
  <div class="row">
    <div class="col mb-2" style="display: flex; justify-content: space-between">
      <p class="h4 fw-bold ms-5">{{ "cart.cartTitle" | translate }}</p>
      <button
        class="btn btn-primary me-5"
        routerLink="/client-area"
        *ngIf="!(items.length < 1)"
      >
        {{ "cart.addProdBtn" | translate }}
      </button>
    </div>

    <hr />
  </div>
</div>

<!--Loading spinner-->
<div *ngIf="loading">
  <app-spinner></app-spinner>
</div>

<!--Error message-->
<div *ngIf="!loading && errorMessage">
  <div class="container">
    <div class="row">
      <div class="col" style="display: flex">
        <p class="h4 text-danger fw-bold">{{ errorMessage }}</p>
        <img src="assets\images\Error server image.jpg" alt="" />
      </div>
    </div>
  </div>
</div>

<div class="emptyCart" *ngIf="items.length < 1">
  <div class="info">
    <h4>
      {{ "cart.emptyCartMsg" | translate
      }}<img src="/assets/images/sad-face.jpg" width="40px" />
    </h4>
    <a routerLink="/client-area" class="btn btn-success">{{
      "cart.buyProdBtn" | translate
    }}</a>
  </div>
</div>

<ng-container *ngIf="items.length > 0">
  <div class="cart" *ngFor="let item of items; let index = index">
    <div class="prodId">
      <p>
        {{ "cart.productID" | translate }} <strong>{{ item.id }}</strong>
      </p>
    </div>
    <div class="productImg mb-2">
      <img [src]="item.image" alt="" class="img" width="200px" />
    </div>
    <div class="prodDetails">
      <div class="prodDesc mb-3">
        {{ "cart.productName" | translate }}
        <strong>{{ item.productName }}</strong>
      </div>
      <div class="prodWeight mb-3">
        {{ "cart.weight" | translate }} <strong>{{ item.weight }} </strong>gr.
      </div>
      <div class="prodPrice mb-3">
        {{ "cart.price" | translate }} <strong>{{ item.price }}</strong> Lei
      </div>
    </div>

    <div class="quantitySection me-4">
      <input
        placeholder="{{ 'cart.qtyPlaceholder' | translate }}"
        type="number"
        class="quantityNum"
        [value]="item.qty"
        (blur)="validateInput($event, index)"
        style="width: 140px"
      /><i
        class="bi bi-check-circle"
        type="button"
        style="margin-left: 10px; font-size: 20px"
        title="{{ 'cart.validQtyTitle' | translate }}"
        >{{ "cart.confirmQtyBtn" | translate }}
      </i>
      <div class="subtotal">
        Total: <strong>{{ item.price * item.qty }}</strong> Lei
      </div>
    </div>
    <button
      class="btn btn-danger"
      aria-hidden="true"
      (click)="onDelete(index)"
      title="{{ 'cart.deleteProdBtn' | translate }}"
    >
      <i class="fa fa-trash"></i>
    </button>
  </div>

  <div class="checkout">
    <p>
      Subtotal: <strong>{{ total }} </strong>Lei
    </p>

    <p>{{ "cart.shipping" | translate }}<strong>0 </strong>Lei</p>

    <p style="color: red; font-size: medium; font-weight: bold">
      Total: <strong>{{ total }} </strong>Lei
    </p>

    <button
      class="btn btn-success"
      (click)="onCheckout()"
      routerLink="/track-orders"
    >
      {{ "cart.checkoutBtn" | translate }}
    </button>
  </div>
</ng-container>
