<nav class="navbar navbar-light navbar-expand-sm">
  <div class="container">
    <a class="navbar-brand" routerLink="/client-area">
      <i class="bi bi-basket"></i>
      Order section
    </a>
  </div>
</nav>
<div class="container mt-3">
  <div class="row">
    <div class="col">
      <p class="h4 fw-bold ms-5">Manage order</p>
    </div>
    <hr />
  </div>
</div>

<!--Loading spinner-->
<div *ngIf="loading">
  <app-spinner></app-spinner>
</div>

<!--Error message-->
<div *ngIf="!loading && errorMessage">
  <div class="container">
    <div class="row">
      <div class="col" style="display: flex">
        <p class="h4 text-danger fw-bold">{{ errorMessage }}</p>
        <img src="assets\images\Error server image.jpg" alt="" />
      </div>
    </div>
  </div>
</div>

<div class="emptyCart" *ngIf="items.length < 1">
  <div class="info">
    <h4>
      Your cart is empty!<img src="/assets/images/sad-face.jpg" width="40px" />
    </h4>
    <a routerLink="/client-area" class="btn btn-success">Buy products</a>
  </div>
</div>

<ng-container *ngIf="items.length > 0">
  <div class="cart" *ngFor="let item of items; let index = index">
    <div class="prodId">
      <p>
        Product ID: <strong>{{ item.id }}</strong>
      </p>
    </div>
    <div class="productImg">
      <img [src]="item.image" alt="" class="img" width="200px" />
    </div>
    <div class="prodDetails">
      <div class="prodDesc mb-3">
        Product name: <strong>{{ item.productName }}</strong>
      </div>
      <div class="prodWeight mb-3">
        Weight: <strong>{{ item.weight }}</strong>
      </div>
      <div class="prodPrice mb-3">
        Price: <strong>{{ item.price }}</strong> Lei
      </div>
    </div>

    <div class="quantitySection me-4">
      <input
        placeholder="Insert quantity"
        type="number"
        class="quantityNum"
        [value]="item.qty"
        (blur)="validateInput($event, index)"
        style="width: 140px"
      /><i
        class="bi bi-check-circle"
        type="button"
        style="margin-left: 10px; font-size: larger"
        title="Validate quantity"
      >
      </i>
      <div class="subtotal">
        Total: <strong>{{ item.price * item.qty }}</strong> Lei
      </div>
    </div>
    <button
      class="btn btn-danger my-1"
      aria-hidden="true"
      (click)="onDelete(index)"
      title="Delete product from cart"
    >
      <i class="fa fa-trash"></i>
    </button>
  </div>

  <div class="checkout">
    <p>
      Subtotal: <strong>{{ total }} Lei</strong>
    </p>

    <p>Shipping: <strong>0 Lei</strong></p>

    <p style="color: red; font-size: medium; font-weight: bold">
      Total: <strong>{{ total }} Lei</strong>
    </p>

    <button class="btn btn-success" (click)="onCheckout()">Check Out</button>
  </div>
</ng-container>
