.text-center.text-lg-start.text-muted {
  background-color: #503b32;
}

section {
  color: white;
}

.social-media-icons {
  width: 30px;
  margin: 0 10px;
  padding: 2px;
}

.text-center.text-lg-start.text-muted {
  font-size: small;
}
