<footer class="text-center text-lg-start text-muted">
  <section
    class="d-flex justify-content-center justify-content-lg-between p-1 border-bottom"
  >
    <div class="me-5 d-none d-lg-block">
      <span>Get connected with us on social networks:</span>
      <a href="#"
        ><span
          ><img
            class="social-media-icons"
            src="https://img.icons8.com/fluency/48/000000/facebook-new.png" /></span
      ></a>
      <a href="#"
        ><span
          ><img
            class="social-media-icons"
            src="https://img.icons8.com/fluency/48/000000/instagram-new.png" /></span
      ></a>
      <a href="#"
        ><span
          ><img
            sclass="social-media-icons"
            rc="https://img.icons8.com/fluency/48/000000/tiktok.png" /></span
      ></a>
      <a href="#"
        ><span
          ><img
            class="social-media-icons"
            src="https://img.icons8.com/fluency/48/000000/twitter.png" /></span
      ></a>
      <a href="#"
        ><span
          ><img
            class="social-media-icons"
            src="https://img.icons8.com/fluency/48/000000/youtube-play.png" /></span
      ></a>
    </div>
  </section>

  <section class="">
    <div class="container text-center text-md-start mt-3">
      <div class="row mt-2">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-2" style="font-size: larger">
            <i class="fas fa-gem me-0"></i>Multipan-Bakery &reg;
          </h6>
          <p>
            Here you can use rows and columns to organize your footer content.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </p>
        </div>

        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-2" style="font-size: larger">
            Links
          </h6>
          <p>
            <a routerLink="" class="text-reset">Home</a>
          </p>
          <p>
            <a routerLink="/about-us" class="text-reset">About Us</a>
          </p>
          <p>
            <a routerLink="/client-area" class="text-reset">Shop</a>
          </p>
        </div>

        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-2" style="font-size: larger">
            SOCIAL
          </h6>
          <p>
            <a routerLink="" class="text-reset">News</a>
          </p>

          <p>
            <a routerLink="" class="text-reset">GDPR</a>
          </p>
          <p>
            <a routerLink="" class="text-reset">Carrer</a>
          </p>
        </div>

        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase fw-bold mb-2" style="font-size: larger">
            Contact
          </h6>
          <p><i class="fas fa-home me-1"></i> IASI, JUD.IASI-400747, ROMANIA</p>
          <p>
            <i class="fas fa-envelope me-1"></i>
            office@multipan-bakery.com
          </p>
          <p><i class="fas fa-phone me-1"></i> + 40 232 270696</p>
        </div>
      </div>
    </div>
  </section>

  <div
    class="text-center p-2"
    style="background-color: rgba(237, 237, 237, 0.749)"
  >
    <a
      style="color: #000000; text-decoration: none"
      href="https://scoalainformala.ro/"
      >© 2022 Copyright: Multipan-Bakery.com</a
    >
  </div>
</footer>
