.navbar-light {
  background-color: #ffbf1b;
}

.navbar-brand span {
  font-size: larger;
  font-weight: bold;
  font-family: "Merriweather Sans", sans-serif;
  margin-left: 25px;
}

.navbar-brand span .register-mark {
  font-size: small;
  margin-left: 0;
  padding-bottom: 10px;
}

.collapse.navbar-collapse {
  justify-content: flex-end;
  margin-right: 35px;
  font-weight: 500;
}

.collapse.navbar-collapse a {
  color: black;
  margin-left: 15px;
}

.dropdown-menu li a {
  background-color: white;
  font-family: "Merriweather Sans", sans-serif;
  margin-left: 1px;
}

.lang-button {
  width: 30px;
  margin-left: 10px;
  border: none;
  background-color: transparent;
  margin-right: 10px;
  margin-top: 5px;
}

.lang-button:hover {
  background-color: rgb(255, 255, 255);
}
