<div>
  <button (click)="makePdf()" class="btn btn-primary">Download order</button>
</div>
<div class="content" id="content" #content>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Product ID</th>
        <th scope="col">Product name</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
        <th scope="col">Total</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Prod 1</td>
        <td>200</td>
        <td>3</td>
        <td>600</td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>Prod 1</td>
        <td>200</td>
        <td>3</td>
        <td>600</td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>Prod 1</td>
        <td>200</td>
        <td>3</td>
        <td>600</td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>Prod 1</td>
        <td>200</td>
        <td>3</td>
        <td>600</td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>Prod 1</td>
        <td>200</td>
        <td>3</td>
        <td>600</td>
      </tr>
    </tbody>
  </table>
  <div>
    <img
      class="stamp"
      src="assets/images/istockphoto-476400529-1024x1024.jpg"
      alt=""
    />
  </div>
</div>
