<nav class="navbar navbar-light navbar-expand-sm">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <i class="bi bi-people-fill"></i>
      {{ "clientNavbar.clientNavbarTitle" | translate }}
    </a>
  </div>
</nav>
<div class="container mt-3">
  <div class="row">
    <div class="col">
      <p class="h4 fw-bold ms-5">
        {{ "clientMain.title" | translate }}
      </p>
    </div>
  </div>
</div>

<!--Loading spinner-->
<div *ngIf="loading">
  <app-spinner></app-spinner>
</div>

<!--Error message-->
<div *ngIf="!loading && errorMessage">
  <div class="container">
    <div class="row">
      <div class="col" style="display: flex">
        <p class="h4 text-danger fw-bold">{{ errorMessage }}</p>
        <img src="assets\images\Error server image.jpg" alt="" />
      </div>
    </div>
  </div>
</div>

<!--Cards-->

<div class="container mt-3 mb-4" *ngIf="!loading && products.length > 0">
  <div class="col">
    <input
      type="text"
      class="form-control"
      [(ngModel)]="search"
      placeholder="{{ 'clientMain.searchBar' | translate }}"
    />
  </div>
  <div class="row">
    <div class="col-md-6" *ngFor="let product of products | filter: search">
      <div class="card list-group-item-primary shadow-lg my-3">
        <div class="card-body" style="border: 2px solid #ffbf1b">
          <div class="row align-items-center">
            <div class="col-sm-4">
              <a [href]="product.image"
                ><img class="product-image" [src]="product.image" />
              </a>
              <p class="image-disclosure">
                {{ "clientMain.imageDisclosure" | translate }}
              </p>
            </div>

            <div class="col-sm-6">
              <ul class="list-group">
                <li class="list-group-item">
                  {{ "clientMain.productNameTH" | translate }}
                  <span class="fw-bold"> {{ product.productName }}</span>
                </li>
                <li class="list-group-item">
                  {{ "clientMain.productAssortmentTH" | translate }}
                  <span class="fw-bold"> {{ product.assortment }}</span>
                </li>
                <li class="list-group-item">
                  {{ "clientMain.productWeightTH" | translate }}
                  <span class="fw-bold"> {{ product.weight }} gr.</span>
                </li>
                <li class="list-group-item">
                  {{ "clientMain.productPriceTH" | translate }}
                  <span class="fw-bold"> {{ product.price }} Lei</span>
                </li>
                <li class="list-group-item">
                  {{ "clientMain.productStockQtyTH" | translate }}

                  <span
                    class="fw-bold"
                    [ngStyle]="{ 'background-color': getStockColor() }"
                  >
                    {{ product.stockQuantity }}
                    <span class="productStockQtyPcs">
                      {{ "clientMain.productStockQtyPcs" | translate }}
                    </span></span
                  >
                </li>
              </ul>
            </div>
            <div class="col-sm-1">
              <a
                class="btn btn-warning mb-3"
                routerLink="view/{{ product.id }}"
                title="{{ 'clientMain.productViewIconTitle' | translate }}"
              >
                <i class="fa fa-eye"></i>
              </a>
              <a
                class="btn btn-info"
                routerLink="cart/{{ product.id }}"
                title="{{ 'clientMain.productCartIconTitle' | translate }}"
              >
                <i class="bi bi-cart3"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<span class="redirect-buttons"
  ><a class="products-manager-redirect-to-about-us" routerLink="/about-us"
    >&LeftArrow; {{ "clientAreaRedirect.redirectAboutUs" | translate }}</a
  >
  <a class="products-manager-redirect-to-login" routerLink="/login"
    >{{ "clientAreaRedirect.redirectLogin" | translate }} &RightArrow;</a
  ></span
>
