<app-products-navbar></app-products-navbar>
<div class="container mt-3">
  <div class="row">
    <div class="col">
      <p class="h4 fw-bold ms-5">
        Product Portfolio
        <a class="btn btn-danger btn-sm me-5" routerLink="/products/add">
          <i class="fa fa-plus-circle"> New Product</i>
        </a>
      </p>
    </div>
  </div>
</div>

<!--Loading spinner-->
<div *ngIf="loading">
  <app-spinner></app-spinner>
</div>

<!--Error message-->
<div *ngIf="!loading && errorMessage">
  <div class="container">
    <div class="row">
      <div class="col" style="display: flex">
        <p class="h4 text-danger fw-bold">{{ errorMessage }}</p>
        <img src="assets\images\Error server image.jpg" alt="" />
      </div>
    </div>
  </div>
</div>

<!--Cards-->

<div class="container mt-3 mb-4" *ngIf="!loading && products.length > 0">
  <div class="col">
    <input
      type="text"
      class="form-control"
      [(ngModel)]="search"
      placeholder="Find product"
    />
  </div>
  <div class="row">
    <div class="col-md-6" *ngFor="let product of products | filter: search">
      <div class="card list-group-item-primary shadow-lg my-3">
        <div class="card-body" style="border: 2px solid #ffbf1b">
          <div class="row align-items-center">
            <div class="col-sm-4">
              <a [href]="product.image"
                ><img class="product-image" [src]="product.image"
              /></a>
            </div>

            <div class="col-sm-6">
              <ul class="list-group">
                <li class="list-group-item">
                  Product name:
                  <span class="fw-bold"> {{ product.productName }}</span>
                </li>
                <li class="list-group-item">
                  Assortment:
                  <span class="fw-bold"> {{ product.assortment }}</span>
                </li>
                <li class="list-group-item">
                  Weight: <span class="fw-bold"> {{ product.weight }} gr.</span>
                </li>
                <li class="list-group-item">
                  Price: <span class="fw-bold"> {{ product.price }} Lei</span>
                </li>
                <li class="list-group-item">
                  Stock quantity:
                  <span class="fw-bold"> {{ product.stockQuantity }} pcs.</span>
                </li>
              </ul>
            </div>
            <div class="col-sm-1">
              <a
                class="btn btn-warning mb-3"
                routerLink="view/{{ product.id }}"
                title="View product details"
              >
                <i class="fa fa-eye"></i>
              </a>
              <a
                class="btn btn-primary mb-3"
                routerLink="edit/{{ product.id }}"
                title="Edit product"
              >
                <i class="fa fa-pen"></i>
              </a>
              <button
                class="btn btn-danger my-1"
                type="button"
                title="Delete product"
                (click)="clickDeleteProduct(product.id)"
              >
                <i class="fa fa-trash"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<span class="redirect-buttons"
  ><a class="products-manager-redirect-to-about-us" routerLink="/about-us"
    >&LeftArrow; {{ "productsManager.redirectAboutUs" | translate }}</a
  >
  <a class="products-manager-redirect-to-login" routerLink="/login"
    >{{ "productsManager.redirectLogin" | translate }} &RightArrow;</a
  ></span
>
