<app-products-navbar></app-products-navbar>
<div class="container mt-3">
  <div class="row">
    <div class="col">
      <p class="h4 fw-bold ms-5">
        Products
        <a class="btn btn-danger btn-sm me-5" routerLink="/products/add">
          <i class="fa fa-plus-circle"> New</i>
        </a>
      </p>
      <div class="row mb-3 ms-5" style="justify-content: center">
        <div class="col-md-6">
          <div class="row">
            <div class="col">
              <input
                type="text"
                class="form-control"
                placeholder="Find product"
              />
            </div>
            <div class="col">
              <input
                type="submit"
                class="btn btn-outline-dark"
                value="Search"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Cards-->

<div class="container mt-3 mb-4">
  <div class="row">
    <div class="col-md-6">
      <div class="card list-group-item-primary shadow-lg">
        <div class="card-body" style="border: 2px solid #ffbf1b">
          <div class="row align-items-center">
            <div class="col-sm-4">
              <a
                href="assets/images/Products images/franzela_alba_proaspata_300.jpg"
                ><img
                  class="product-image"
                  src="assets/images/Products images/franzela_alba_proaspata_300.jpg"
              /></a>
            </div>

            <div class="col-sm-6">
              <ul class="list-group">
                <li class="list-group-item">
                  Product name: <span class="fw-bold"> White loaf</span>
                </li>
                <li class="list-group-item">
                  Assortment: <span class="fw-bold"> Loaf</span>
                </li>
                <li class="list-group-item">
                  Weight: <span class="fw-bold"> 300 gr.</span>
                </li>
                <li class="list-group-item">
                  Price: <span class="fw-bold"> 1.5 Lei</span>
                </li>
                <li class="list-group-item">
                  Stock quantity: <span class="fw-bold"> 700 pcs.</span>
                </li>
              </ul>
            </div>
            <div class="col-sm-1">
              <a
                class="btn btn-warning mb-3"
                routerLink="view/:productId"
                title="View product details"
              >
                <i class="fa fa-eye"></i>
              </a>
              <a
                class="btn btn-primary mb-3"
                routerLink="edit/:productId"
                title="Edit product"
              >
                <i class="fa fa-pen"></i>
              </a>
              <button class="btn btn-danger" title="Delete product">
                <i class="fa fa-trash-alt"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
