<app-products-navbar></app-products-navbar>
<div class="container mt-3">
  <div class="row">
    <div class="col">
      <p class="h4 fw-bold ms-5">
        {{ "clientMain.title" | translate }}
        <a class="btn btn-danger btn-sm me-5" routerLink="/products/add">
          <i class="fa fa-plus-circle">
            {{ "clientMain.newProductButton" | translate }}</i
          >
        </a>
      </p>
      <hr />
    </div>
  </div>
</div>

<!--Loading spinner-->
<div *ngIf="loading">
  <app-spinner></app-spinner>
</div>

<!--Error message-->
<div *ngIf="!loading && errorMessage">
  <div class="container">
    <div class="row">
      <div class="col" style="display: flex">
        <p class="h4 text-danger fw-bold">{{ errorMessage }}</p>
        <img src="assets\images\Error server image.jpg" alt="" />
      </div>
    </div>
  </div>
</div>

<!--Cards-->
<div class="container mt-3 mb-4" *ngIf="!loading && products.length > 0">
  <div
    class="col"
    style="display: flex; justify-content: center; align-items: center"
  >
    <i class="bi bi-search" style="margin-right: 3px; font-size: large"></i>
    <input
      style="margin: 0"
      type="text"
      class="form-control"
      [(ngModel)]="search"
      placeholder="{{ 'clientMain.searchBar' | translate }}"
    />
  </div>
  <div class="row">
    <div
      class="col-md-6"
      *ngFor="
        let product of products
          | filter: search
          | paginate: { itemsPerPage: 6, currentPage: p }
      "
    >
      <div class="card list-group-item-primary shadow-lg my-3">
        <div class="card-body" style="border: 2px solid #ffbf1b">
          <div class="row align-items-center">
            <div class="col-sm-4">
              <a [href]="product.image"
                ><img class="product-image" [src]="product.image"
              /></a>
              <p class="image-disclaimer">
                {{ "clientMain.imageDisclaimer" | translate }}
              </p>
            </div>

            <div class="col-sm-6">
              <ul class="list-group">
                <li class="list-group-item">
                  {{ "clientMain.productNameTH" | translate }}
                  <span class="fw-bold"> {{ product.productName }}</span>
                </li>
                <li class="list-group-item">
                  {{ "clientMain.productAssortmentTH" | translate }}
                  <span class="fw-bold"> {{ product.assortment }}</span>
                </li>
                <li class="list-group-item">
                  {{ "clientMain.productWeightTH" | translate }}
                  <span class="fw-bold"> {{ product.weight }} gr.</span>
                </li>
                <li class="list-group-item">
                  {{ "clientMain.productPriceTH" | translate }}
                  <span class="fw-bold"> {{ product.price }} Lei</span>
                </li>
                <li class="list-group-item">
                  {{ "clientMain.productStockQtyTH" | translate }}
                  <span
                    class="fw-bold"
                    [ngStyle]="{ 'background-color': getColor() }"
                    id="stockQuantityId"
                  >
                    {{ product.stockQuantity }}
                    <span class="productStockQtyPcs">
                      {{ "clientMain.productStockQtyPcs" | translate }}
                    </span></span
                  >
                </li>
              </ul>
            </div>
            <div class="col-sm-1">
              <a
                class="btn btn-warning mb-3"
                routerLink="view/{{ product.id }}"
                title="{{ 'clientMain.productViewIconTitle' | translate }}"
              >
                <i class="fa fa-eye"></i>
              </a>
              <a
                class="btn btn-primary mb-3"
                routerLink="edit/{{ product.id }}"
                title="{{
                  'productsManagerCard.productEditIconTitle' | translate
                }}"
              >
                <i class="fa fa-pen"></i>
              </a>
              <app-confirmation-modal
                (click)="clickDeleteProduct(product.id)"
              ></app-confirmation-modal>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
<span class="redirect-buttons"
  ><a class="products-manager-redirect-to-about-us" routerLink="/"
    >&LeftArrow; {{ "productsManagerRedirect.redirectHome" | translate }}</a
  >
</span>
