.h4.fw-bold.ms-5 {
  color: brown;
}

.product-image {
  width: 70%;
  border: 1px solid grey;
  border-radius: 20%;
  margin-left: 50px;
}

.list-group-item {
  background-color: #fff9e2;
}

.list-group-item span {
  float: right;
  text-align: center;
}

.col .btn-primary {
  margin-bottom: 20px;
  float: left;
}

.col .btn-info {
  float: right;
  background-color: lightsalmon;
  width: 100px;
}
