<nav class="navbar navbar-light mt-4">
  <div class="container-fluid" style="background-color: #c8e0f3">
    <h4 style="color: black">Products Dashboard</h4>
    <div class="d-flex">
      <button class="btn btn-success">Add New Product</button>
    </div>
  </div>
</nav>
<div class="row row-cols-1 row-cols-md-2 g-4 mt-2 mb-3">
  <div class="col">
    <div class="card">
      <img src="..." class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Product Name:</h5>
        <p class="card-text">Description:</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Category:</li>
        <li class="list-group-item">Flour type:</li>
        <li class="list-group-item">Assortment:</li>
        <li class="list-group-item">Weight:</li>
        <li class="list-group-item">Price: lei</li>
      </ul>
      <div class="card-body">
        <button class="btn btn-primary me-5">Edit</button>
        <button class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
</div>
