<div class="container">
  <div class="center">
    <img
      class="img-1-about-us"
      src="./assets/images/carousel-images/carousel-2.jpg"
    />
    <h2 style="margin-top: 40px">{{ "aboutUs.ourStoryTitle" | translate }}</h2>
    <p class="aboutUs-paragraph">
      {{ "aboutUs.ourStoryParagraph" | translate }}
    </p>
    <img
      class="img-2-about-us"
      src="./assets/images/carousel-images/carousel-1.jpg"
    />
    <br />

    <br />
    <h2 style="margin-top: 25px">
      {{ "aboutUs.ourMissionTitle" | translate }}
    </h2>
    <p class="aboutUs-paragraph">
      {{ "aboutUs.ourMissionParagraph" | translate }}
    </p>
  </div>
  <span class="redirect-buttons"
    ><a class="about-us-redirect-to-home" href="/"
      >&LeftArrow; {{ "aboutUs.redirectHome" | translate }}</a
    >
    <a class="about-us-redirect-to-products" href="/products"
      >{{ "aboutUs.redirectProducts" | translate }} &RightArrow;</a
    ></span
  >
</div>
