.iframe-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center .ourStory-iframe {
  margin-top: 5px;
  border: 7px solid #ffd774;
  padding: 2px;
}

.img-1-about-us {
  width: 65%;
  margin-top: 10px;
  margin-left: 15px;
  float: right;
  border-radius: 20px;
}
.img-2-about-us {
  width: 70%;
  margin-bottom: 20px;
  float: left;
}

.container {
  display: flex;
  flex-direction: column;
}

.redirect-buttons {
  display: flex;
  justify-content: space-between;
}

.about-us-redirect-to-home {
  text-decoration: none;
  color: black;
  font-family: "Merriweather Sans", sans-serif;
  border: 1px solid transparent;
  background-color: #ffd774;
  border-radius: 20px;
  margin-top: 0;
}

.about-us-redirect-to-products {
  text-decoration: none;
  color: black;
  font-family: "Merriweather Sans", sans-serif;
  border: 1px solid transparent;
  background-color: #ffd774;
  border-radius: 20px;
  margin-top: 0;
}

.aboutUs-paragraph {
  text-align: justify;
}
