<!--Loading spinner-->
<div *ngIf="loading">
  <app-spinner></app-spinner>
</div>

<!--Error message-->
<div *ngIf="!loading && errorMessage">
  <div class="container">
    <div class="row">
      <div class="col">
        <p class="h4 text-danger fw-bold">
          {{ errorMessage }}
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="text-center">
          <h1>{{ "login.title" | translate }}</h1>
          <h6>{{ "login.subtitle" | translate }}</h6>
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">{{
              "login.emailLabel" | translate
            }}</label>
            <input
              formControlName="email"
              type="email"
              class="form-control"
              name="email"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
            />
            <div id="emailHelp" class="form-text">
              {{ "login.emailAgree" | translate }}
            </div>
            <span
              class="text-danger"
              *ngIf="
                loginForm.controls['email'].dirty &&
                loginForm.hasError('required', 'email')
              "
              >{{ "login.emailRequired" | translate }}</span
            >
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">{{
              "login.passwordLabel" | translate
            }}</label>
            <input
              formControlName="password"
              type="password"
              class="form-control"
              id="exampleInputPassword1"
            />
            <span
              class="text-danger"
              *ngIf="
                loginForm.controls['password'].dirty &&
                loginForm.hasError('required', 'password')
              "
              >{{ "login.passwordRequired" | translate }}</span
            >
          </div>
          <button
            type="submit"
            [disabled]="!loginForm.valid"
            class="btn btn-primary"
          >
            {{ "login.loginBtn" | translate }}
          </button>
        </form>
        <a routerLink="/signup" style="margin-top: 10px">{{
          "login.signupRedirect" | translate
        }}</a>
      </div>
    </div>
  </div>
</div>
