<app-products-navbar></app-products-navbar>
<div class="container mt-3">
  <div class="row">
    <div class="col">
      <p class="h4 fw-bold ms-5">View Product</p>
      <p class="ms-5 fw-bold">The selected product is displayed below</p>
    </div>
  </div>
</div>

<!--Loading spinner-->
<div *ngIf="loading">
  <app-spinner></app-spinner>
</div>

<!--Error message-->
<div *ngIf="!loading && errorMessage">
  <div class="container">
    <div class="row">
      <div class="col">
        <p class="h4 text-danger fw-bold">{{ errorMessage }}</p>
      </div>
    </div>
  </div>
</div>

<!--View product details-->
<div class="container" *ngIf="!loading && isNotEmpty()">
  <div class="row">
    <div class="col-sm-4 mb-5">
      <img [src]="product.image" class="product-image" alt="" />
    </div>
    <div class="col-sm-6 mb-2">
      <ul class="list-group">
        <li class="list-group-item">
          Product name: <span class="fw-bold"> {{ product.productName }}</span>
        </li>
        <li class="list-group-item">
          Category name:
          <span class="fw-bold"> {{ product.categoryName }}</span>
        </li>
        <li class="list-group-item">
          Assortment: <span class="fw-bold"> {{ product.assortment }}</span>
        </li>
        <li class="list-group-item">
          Flour type: <span class="fw-bold"> {{ product.flourType }}</span>
        </li>
        <li class="list-group-item">
          Description:
          <span class="fw-bold">
            {{ product.description }}
          </span>
        </li>
        <li class="list-group-item">
          Weight: <span class="fw-bold"> {{ product.weight }} gr.</span>
        </li>
        <li class="list-group-item">
          Price: <span class="fw-bold"> {{ product.price }} Lei</span>
        </li>
        <li class="list-group-item">
          Stock quantity:
          <span class="fw-bold"> {{ product.stockQuantity }} pcs.</span>
        </li>
      </ul>

      <div class="row mt-3">
        <div class="col">
          <a routerLink="/products" type="button" class="btn btn-primary">
            <i class="fa fa-arrow-alt-circle-left"></i>
            Back</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
