<app-products-navbar></app-products-navbar>
<div class="container mt-3">
  <div class="row">
    <div class="col">
      <p class="h4 fw-bold ms-5">View Product</p>
      <p class="ms-5 fw-bold">The selected product is displayed below</p>
    </div>
  </div>
</div>

<!--View product details-->
<div class="container">
  <div class="row">
    <div class="col-sm-4 mb-5">
      <img
        src="assets/images/Products images/franzela_alba_proaspata_300.jpg"
        class="product-image"
        alt=""
      />
    </div>
    <div class="col-sm-6">
      <ul class="list-group">
        <li class="list-group-item">
          Product name: <span class="fw-bold"> White loaf</span>
        </li>
        <li class="list-group-item">
          Assortment: <span class="fw-bold"> Loaf</span>
        </li>
        <li class="list-group-item">
          Flour type: <span class="fw-bold"> Black</span>
        </li>
        <li class="list-group-item">
          Description:
          <span class="fw-bold">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam
            deleniti repudiandae magnam ratione et iste inventore aliquid!
          </span>
        </li>
        <li class="list-group-item">
          Weight: <span class="fw-bold"> 300 gr.</span>
        </li>
        <li class="list-group-item">
          Price: <span class="fw-bold"> 1.5 Lei</span>
        </li>
        <li class="list-group-item">
          Stock quantity: <span class="fw-bold"> 700 pcs.</span>
        </li>
      </ul>
    </div>
  </div>
</div>
