.h4.fw-bold.ms-5 {
  color: brown;
}

.product-image {
  width: 100%;
  border: 1px solid grey;
  border-radius: 20%;
}

.form-control {
  background-color: #fff9e2;
}

.row {
  width: 100%;
}

.col-sm-4 {
  width: 50%;
}
