.row {
  justify-content: center;
  margin: 15px;
}

.card {
  margin-top: 10px;
  width: 100%;
  padding: 40px;
  background-color: #fff9e2;
}

.text-center h6 {
  font-size: small;
}

.col.h4.text-danger.fw-bold {
  font-size: large;
  margin-top: 0;
}
