<!--Loading spinner-->
<div *ngIf="loading">
  <app-spinner></app-spinner>
</div>

<!--Error message-->
<div *ngIf="!loading && errorMessage">
  <div class="container">
    <div class="row">
      <div class="col">
        <p class="h4 text-danger fw-bold">
          {{ errorMessage }}
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="text-center">
          <h1>{{ "signup.title" | translate }}</h1>
          <h6>{{ "signup.subtitle" | translate }}</h6>
        </div>
        <form [formGroup]="signupForm" (ngSubmit)="signUp()">
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">{{
              "signup.nameTitle" | translate
            }}</label>
            <input
              placeholder="{{ 'signup.namePlaceholder' | translate }}"
              formControlName="fullName"
              type="text"
              class="form-control"
              id="exampleInputPassword1"
            />
            <span
              class="text-danger"
              *ngIf="
                signupForm.controls['fullName'].dirty &&
                signupForm.hasError('required', 'fullName')
              "
              >{{ "signup.nameRequired" | translate }}</span
            >
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">{{
              "signup.mobileTitle" | translate
            }}</label>
            <input
              placeholder="{{ 'signup.mobilePlaceholder' | translate }}"
              formControlName="mobile"
              type="number"
              class="form-control"
              id="exampleInputPassword2"
            />
            <span
              class="text-danger"
              *ngIf="
                signupForm.controls['mobile'].dirty &&
                signupForm.hasError('required', 'mobile')
              "
              >{{ "signup.mobileRequired" | translate }}</span
            >
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">{{
              "signup.emailTitle" | translate
            }}</label>
            <input
              placeholder="{{ 'signup.emailPlaceholder' | translate }}"
              formControlName="email"
              type="email"
              class="form-control"
              id="exampleInputEmail3"
              aria-describedby="emailHelp"
            />
            <div id="emailHelp" class="form-text">
              {{ "signup.emailAgree" | translate }}
            </div>
            <span
              class="text-danger"
              *ngIf="
                signupForm.controls['email'].dirty &&
                signupForm.hasError('required', 'email')
              "
              >{{ "signup.emailRequired" | translate }}</span
            >
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">{{
              "signup.passwordTitle" | translate
            }}</label>
            <input
              placeholder="{{ 'signup.passwordPlaceholder' | translate }}"
              formControlName="password"
              type="password"
              class="form-control"
              id="exampleInputPassword4"
            />
            <span
              class="text-danger"
              *ngIf="
                signupForm.controls['password'].dirty &&
                signupForm.hasError('required', 'password')
              "
              >{{ "signup.passwordRequired" | translate }}</span
            >
          </div>
          <button
            type="submit"
            [disabled]="!signupForm.valid"
            class="btn btn-primary"
          >
            {{ "signup.signupBtn" | translate }}
          </button>
        </form>
        <a routerLink="/login" style="margin-top: 10px">{{
          "signup.loginRedirect" | translate
        }}</a>
      </div>
    </div>
  </div>
</div>
