<app-products-navbar></app-products-navbar>
<div class="container mt-3">
  <div class="row">
    <div class="col">
      <p class="h4 fw-bold ms-5">Add New Product</p>
      <p class="ms-5 fw-bold">
        Please insert all the details for your new product
      </p>
    </div>
  </div>
</div>

<!-- Contact Form-->
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <form>
        <div class="mb-2">
          <input type="text" class="form-control" placeholder="Product name" />
        </div>
        <div class="mb-2">
          <input type="text" class="form-control" placeholder="Flour type" />
        </div>
        <div class="mb-2">
          <input type="text" class="form-control" placeholder="Assortment" />
        </div>
        <div class="mb-2">
          <input type="text" class="form-control" placeholder="Weight" />
        </div>
        <div class="mb-2">
          <input type="text" class="form-control" placeholder="Description" />
        </div>
        <div class="mb-2">
          <input type="text" class="form-control" placeholder="Image URL" />
        </div>
        <div class="mb-2">
          <input
            type="text"
            class="form-control"
            placeholder="Stock quantity"
          />
        </div>
        <div class="mb-2">
          <input type="text" class="form-control" placeholder="Price" />
        </div>
        <div class="mb-2">
          <input type="text" class="form-control" placeholder="Category Id" />
        </div>
      </form>
    </div>
  </div>
</div>
