<app-products-navbar></app-products-navbar>
<div class="container mt-3">
  <div class="row">
    <div class="col">
      <p class="h4 fw-bold ms-5">Add New Product</p>
      <p class="ms-5 fw-bold">
        Please insert all the details for your new product
      </p>
    </div>
  </div>
</div>
<pre>{{ product | json }}</pre>

<!-- Add Contact Form-->
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <form>
        <div class="mb-2">
          <input
            required="true"
            [(ngModel)]="product.productName"
            name="productName"
            type="text"
            class="form-control"
            placeholder="Product name"
          />
        </div>
        <div class="mb-2">
          <input
            required="true"
            [(ngModel)]="product.flourType"
            name="flourType"
            type="text"
            class="form-control"
            placeholder="Flour type"
          />
        </div>
        <div class="mb-2">
          <input
            required="true"
            [(ngModel)]="product.assortment"
            name="assortment"
            type="text"
            class="form-control"
            placeholder="Assortment"
          />
        </div>
        <div class="mb-2">
          <input
            required="true"
            [(ngModel)]="product.weight"
            name="weight"
            type="number"
            class="form-control"
            placeholder="Weight"
          />
        </div>
        <div class="mb-2">
          <input
            required="true"
            [(ngModel)]="product.description"
            name="description"
            type="text"
            class="form-control"
            placeholder="Description"
          />
        </div>
        <div class="mb-2">
          <input
            required="true"
            [(ngModel)]="product.image"
            name="image"
            type="text"
            class="form-control"
            placeholder="Image URL"
          />
        </div>
        <div class="mb-2">
          <input
            required="true"
            [(ngModel)]="product.stockQuantity"
            name="stockQuantity"
            type="number"
            class="form-control"
            placeholder="Stock quantity"
          />
        </div>
        <div class="mb-2">
          <input
            required="true"
            [(ngModel)]="product.price"
            name="price"
            type="number"
            class="form-control"
            placeholder="Price"
          />
        </div>
        <div class="mb-4">
          <select
            required="true"
            [(ngModel)]="product.categoryId"
            name="categoryId"
            class="form-control"
            *ngIf="categories.length > 0"
          >
            <option value="">Select category ID</option>
            <option
              [value]="category.categoryId"
              *ngFor="let category of categories"
            >
              {{ category.categoryName }}
            </option>
          </select>
        </div>
        <div class="mb-2">
          <input
            type="number"
            class="btn btn-success mb-5"
            value="Create"
            type="submit"
          />
          <a class="btn btn-primary mb-5 ms-2" routerLink="/products"
            >Close Form</a
          >
        </div>
      </form>
    </div>
    <div class="col-sm-4">
      <img
        src="assets/images/Products images/franzela_alba_proaspata_300.jpg"
        class="product-image"
        alt=""
      />
    </div>
  </div>
</div>
