<app-products-navbar></app-products-navbar>
<!--Loading spinner-->
<div *ngIf="loading">
  <app-spinner></app-spinner>
</div>

<!--Error message-->
<div *ngIf="!loading && errorMessage">
  <div class="container">
    <div class="row">
      <div class="col">
        <p class="h4 text-danger fw-bold">{{ errorMessage }}</p>
      </div>
    </div>
  </div>
</div>
<div class="container mt-3">
  <div class="row">
    <div class="col">
      <p class="h4 fw-bold ms-5">{{ "addProduct.firstTitle" | translate }}</p>
      <p class="ms-5 fw-bold">
        {{ "addProduct.secondTitle" | translate }}
      </p>
    </div>
  </div>
</div>

<!-- Add Contact Form-->
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <form (submit)="createSubmit()">
        <div class="mb-2">
          <input
            type="text"
            name="productName"
            class="form-control"
            [(ngModel)]="product.productName"
            placeholder="{{ 'addProduct.productName' | translate }}"
          />
        </div>
        <div class="mb-2">
          <input
            [(ngModel)]="product.flourType"
            name="flourType"
            type="text"
            class="form-control"
            placeholder="{{ 'addProduct.flourType' | translate }}"
          />
        </div>
        <div class="mb-2">
          <input
            [(ngModel)]="product.assortment"
            name="assortment"
            type="text"
            class="form-control"
            placeholder="{{ 'addProduct.assortment' | translate }}"
          />
        </div>
        <div class="mb-2">
          <input
            [(ngModel)]="product.weight"
            name="weight"
            type="number"
            class="form-control"
            placeholder="{{ 'addProduct.weight' | translate }}"
          />
        </div>
        <div class="mb-2">
          <textarea
            [(ngModel)]="product.description"
            name="description"
            type="text"
            class="form-control"
            placeholder="{{ 'addProduct.description' | translate }}"
          ></textarea>
        </div>
        <div class="mb-2">
          <input
            [(ngModel)]="product.image"
            name="image"
            type="text"
            class="form-control"
            placeholder="{{ 'addProduct.image' | translate }}"
          />
        </div>
        <div class="mb-2">
          <input
            [(ngModel)]="product.stockQuantity"
            name="stockQuantity"
            type="number"
            class="form-control"
            placeholder="{{ 'addProduct.stockQuantity' | translate }}"
          />
        </div>
        <div class="mb-2">
          <input
            [(ngModel)]="product.price"
            name="price"
            type="number"
            class="form-control"
            placeholder="{{ 'addProduct.price' | translate }}"
          />
        </div>
        <div class="mb-3">
          <label for="categoryName">{{
            "addProduct.categoryName" | translate
          }}</label>
          <select
            name="categoryName"
            [(ngModel)]="product.categoryName"
            class="form-control"
            required="true"
          >
            <option value="fresh">
              {{ "addProduct.categoryNameFresh" | translate }}
            </option>
            <option value="packaged">
              {{ "addProduct.categoryNamePackaged" | translate }}
            </option>
          </select>
        </div>

        <div class="mb-2">
          <input class="btn btn-success mb-5" value="Create" type="submit" />
          <a class="btn btn-primary mb-5 ms-2" routerLink="/products"
            >Close Form</a
          >
        </div>
      </form>
    </div>
    <div class="col-sm-4">
      <img [src]="product.image" class="product-image" alt="" />
    </div>
  </div>
</div>
